In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('data/train.csv')
df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [5]:
# search for null values

In [6]:
df.isnull().sum()

timestamp         0
Asset_ID          0
Count             0
Open              0
High              0
Low               0
Close             0
Volume            0
VWAP              9
Target       750338
dtype: int64

In [7]:
# find why some values are null in the Target features

In [8]:
df_null_target = df[df['Target'].isnull()]

In [9]:
df_null_target.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
7,1514764860,11,7.0,329.0900,329.880,329.090,329.460,6.635710,329.454118,NaN
44,1514765160,7,76.0,26.4255,27.073,25.550,26.400,1857.936529,26.352542,NaN
95,1514765520,11,8.0,327.6700,327.680,326.770,326.770,17.901633,326.990493,NaN
111,1514765640,11,8.0,326.9300,327.960,326.220,327.910,26.840300,326.476237,NaN
116,1514765700,7,12.0,26.4410,27.070,25.812,26.399,163.830076,26.449597,NaN

In [21]:
# target is a log return over the next 15 minutes
# if the price at t+1 or t+16 is missing, the target is null

In [38]:
df[(df['Asset_ID']==11) & (df['timestamp']==(1514764860 + 60*16))].shape

(0, 10)

In [39]:
def find_t_plus_16(df_null):
    print
        return df[(df['timestamp']==(df_null['timestamp'] + 16*60)) 
                  & 
                  (df['Asset_ID']==df_null['Asset_ID'])].shape[0]

In [ ]:
df_null_target['t_plus_'] df_null_target[['timestamp','Asset_ID']].apply(find_t_plus_16, axis=1)

In [ ]:
train.timestamp

In [30]:
asset_details = pd.read_csv('data/asset_details.csv')
asset_details.head()

   Asset_ID    Weight        Asset_Name
0         2  2.397895      Bitcoin Cash
1         0  4.304065      Binance Coin
2         1  6.779922           Bitcoin
3         5  1.386294            EOS.IO
4         7  2.079442  Ethereum Classic