In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('data/train.csv')

In [7]:
train_size = 0.6
loc_test = int(df.shape[0]*train_size)
train = df.iloc[:loc_test]
test = df.iloc[loc_test:]

In [8]:
train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [11]:
# Start with bitcoin only

In [12]:
train_bitcoin = train[train['Asset_ID']==1]
test_bitcoin = test[test['Asset_ID']==1]

In [15]:
# quality check : each timestamp is unique

In [14]:
train_bitcoin.shape[0]==train_bitcoin.timestamp.nunique()

True

In [13]:
# baseline model : predict using the last value

In [16]:
y_pred_bitcoin = test_bitcoin.Target.shift(1)

In [17]:
y_pred_bitcoin

14542084         NaN
14542096   -0.000811
14542108   -0.000530
14542119   -0.000502
14542130   -0.000370
              ...
24236739         NaN
24236753         NaN
24236767         NaN
24236781         NaN
24236795         NaN
Name: Target, Length: 703843, dtype: float64